@font-face {
  font-family: "Nimbus Sans L";
  src: url(font/NimbusSanL-Reg.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nimbus Sans L";
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  min-height: 100%;
}
main nav {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 8vw;
}
main nav #left {
  display: flex;
  gap: 2vw;
}
main nav #name {
  transform: translate(-100%);
}
main nav h3 {
  font-size: 0.9vw;
  font-weight: 500;
}
main #section1 {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16vw;
  padding: 3vw 8vw;
}
main #section1 .sustain {
  width: 11vw;
  height: 22vw;
}
main #section1 .sustain .text {
  width: 100%;
  height: 30%;
}
main #section1 .sustain .text h5 {
  font-size: 0.8vw;
  font-weight: 300;
}
main #section1 .sustain .text h2 {
  font-size: 1.4vw;
  font-weight: 600;
  letter-spacing: 1px;
}
main #section1 .sustain .text p {
  margin-top: 0.3vw;
  font-size: 0.7vw;
  font-weight: 300;
  letter-spacing: 1px;
  color: #868686;
  line-height: 0.9vw;
}
main #section1 .sustain .image {
  width: 100%;
  height: 70%;
  background-color: red;
  overflow: hidden;
}
main #section1 .sustain .image img {
  width: 100%;
  height: 100%;
  scale: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 140%;
     object-position: 0% 140%;
}
main #section1 .ephemeral {
  width: 25vw;
  min-height: 37vw;
  position: relative;
  gap: 1vw;
}
main #section1 .ephemeral #headings {
  position: absolute;
  top: -20%;
  left: -20%;
}
main #section1 .ephemeral #headings h1 {
  font-size: 5vw;
  font-weight: 400;
  line-height: 4.8vw;
  letter-spacing: -0.3vw;
}
main #section1 .ephemeral #imgtext {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
main #section1 .ephemeral #imgtext img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #section1 .ephemeral #imgtext p {
  font-size: 1.2vw;
  font-weight: 500;
  width: 53%;
}
main #section1 .visit {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 0.7vw;
}
main #section1 .visit #circle {
  width: 2.5vw;
  height: 2.5vw;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #section1 .visit #circle i {
  font-weight: 400;
  font-size: 0.9vw;
}
main #section1 .visit h3 {
  font-size: 0.8vw;
  font-weight: 400;
  letter-spacing: 0.7px;
}
main #motive {
  padding: 3vw 8vw;
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}
main #motive h3 {
  font-size: 1.5vw;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.06vw;
  color: #959494;
}
main #motive p {
  text-align: right;
  font-size: 2.1vw;
  font-weight: 500;
  width: 75%;
  line-height: 3.2vw;
  letter-spacing: -0.13vw;
}
main #motive p span {
  display: inline-block;
  margin: 0 10px;
  margin-bottom: -12.5px;
  background-color: red;
  border-radius: 50px;
}
main #motive p #onespan {
  width: 4.2vw;
  height: 2.5vw;
  background-image: url(./assets/bluegirl.jpg);
  background-size: cover;
  background-position: 0% 60%;
}
main #motive p #twospan {
  width: 5.8vw;
  height: 2.6vw;
  background-image: url(./assets/shaljam.jpg);
  background-size: cover;
  background-position: 0% 47%;
}
main #motive p #threespan {
  width: 4.2vw;
  height: 2.5vw;
  background-image: url(./assets/grass.jpg);
  background-size: cover;
  background-position: center;
}
main #picture {
  width: 100%;
  height: 100%;
  padding: 6vw 8vw;
  padding-left: 17vw;
  padding-right: 15vw;
  display: flex;
  justify-content: space-between;
}
main #picture #synergy {
  width: 13vw;
  height: 28vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
main #picture #synergy #image {
  width: 100%;
  height: 75%;
  background-color: blue;
  overflow: hidden;
}
main #picture #synergy #image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  scale: 2.5;
  -o-object-position: 70% 0%;
     object-position: 70% 0%;
}
main #picture #synergy #text {
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
}
main #picture #synergy #text h2 {
  font-size: 1.5vw;
  font-weight: 500;
  letter-spacing: -1px;
}
main #picture #synergy #text p {
  font-size: 0.8vw;
  width: 90%;
  color: #646464;
  font-weight: 600;
}
main #picture #harmony {
  width: 23vw;
  height: 41vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
main #picture #harmony #image {
  width: 100%;
  height: 85%;
  overflow: hidden;
}
main #picture #harmony #image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  scale: 1.4;
}
main #picture #harmony #text {
  display: flex;
  flex-direction: column;
  align-self: self-end;
  gap: 0.3vw;
  width: 60%;
  text-align: right;
}
main #picture #harmony #text h2 {
  font-size: 1.7vw;
  font-weight: 500;
  letter-spacing: -1px;
}
main #picture #harmony #text p {
  font-size: 0.8vw;
  font-weight: 600;
  color: #646464;
}/*# sourceMappingURL=style.css.map */