@font-face {
  font-family: "Nimbus Sans L";
  src: url(font/NimbusSanL-Reg.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nimbus Sans L";
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  min-height: 100%;

  nav {
    width: 100%;
    height: 7%;
    // background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 8vw;

    #left {
      display: flex;
      gap: 2vw;
    }

    #name {
      transform: translate(-100%);
    }

    h3 {
      font-size: 0.9vw;
      font-weight: 500;
    }
  }

  #section1 {
    width: 100%;
    min-height: 100%;
    // background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16vw;
    padding: 3vw 8vw;

    .sustain {
      width: 11vw;
      height: 22vw;
      // background-color: rgb(228, 170, 170);

      .text {
        width: 100%;
        height: 30%;

        h5 {
          font-size: 0.8vw;
          font-weight: 300;
        }

        h2 {
          font-size: 1.4vw;
          font-weight: 600;
          letter-spacing: 1px;
        }

        p {
          margin-top: 0.3vw;
          font-size: 0.7vw;
          font-weight: 300;
          letter-spacing: 1px;
          color: #868686;
          line-height: 0.9vw;
        }
      }

      .image {
        width: 100%;
        height: 70%;
        background-color: red;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          scale: 1.5;
          object-fit: cover;
          object-position: 0% 140%;
        }
      }
    }

    .ephemeral {
      width: 25vw;
      min-height: 37vw;
      //background-color: rgb(235, 211, 211);
      position: relative;
      gap: 1vw;

      #headings {
        position: absolute;
        top: -20%;
        left: -20%;

        h1 {
          font-size: 5vw;
          font-weight: 400;
          line-height: 4.8vw;
          letter-spacing: -0.3vw;
        }
      }

      #imgtext {
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        // background-color: red;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        p {
          font-size: 1.2vw;
          font-weight: 500;
          width: 53%;
        }
      }
    }

    .visit {
      height: fit-content;
      display: flex;
      align-items: center;
      gap: 0.7vw;

      #circle {
        width: 2.5vw;
        height: 2.5vw;
        border: 1px solid #000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-weight: 400;
          font-size: 0.9vw;
        }
      }

      h3 {
        font-size: 0.8vw;
        font-weight: 400;
        letter-spacing: 0.7px;
      }
    }
  }

  #motive {
    padding: 3vw 8vw;
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;

    h3{
        font-size: 1.5vw;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: -.06vw;
        color: #959494;
    }

    p {
        text-align: right;
        font-size: 2.1vw;
        font-weight: 500;
        width: 75%;
        line-height: 3.2vw;
        letter-spacing: -.13vw;

      span {
        display: inline-block;
        margin: 0 10px;
        margin-bottom: -12.5px;
        background-color: red;
        border-radius: 50px;
      }

      #onespan{
        width: 4.2vw;
        height: 2.5vw;
        background-image: url(./assets/bluegirl.jpg);
        background-size: cover;
        background-position: 0% 60%;
      }

      #twospan{
        width: 5.8vw;
        height: 2.6vw;
        background-image: url(./assets/shaljam.jpg);
        background-size: cover;
        background-position: 0% 47%;
      }

      #threespan{
        width: 4.2vw;
        height: 2.5vw;
        background-image: url(./assets/grass.jpg);
        background-size: cover;
        background-position: center;
      }
    }
  }

  #picture{
    width: 100%;
    height: 100%;
    padding: 6vw 8vw;
    padding-left: 17vw;
    padding-right: 15vw;
    display: flex;
    justify-content: space-between;
    // background-color: blue;
    
    #synergy{
      width: 13vw;
      height: 28vw;
      // background-color: rgb(175, 124, 124);
      display: flex;
      flex-direction: column;
      gap: 1vw;

      #image{
        width: 100%;
        height: 75%;
        background-color: blue;
        overflow: hidden;
  
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          scale: 2.5;
          object-position: 70% 0%;
        }
      }

      #text{
        display: flex;
        flex-direction: column;
        gap: 0.3vw;

        h2{
          font-size: 1.5vw;
          font-weight: 500;
          letter-spacing: -1px;
        }

        p{
          font-size: 0.8vw;
          width: 90%;
          color: #646464;
          font-weight: 600;
        }
      }
    }

    #harmony{
      width: 23vw;
      height: 41vw;
      // background-color: rgb(173, 59, 59);
      display: flex;
      flex-direction: column;
      gap: 1vw;

      #image{
        width: 100%;
        height: 85%;
        overflow: hidden;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          scale: 1.4;
        }
      }

      #text{
        display: flex;
        flex-direction: column;
        align-self: self-end;
        gap: 0.3vw;
        width: 60%;
        text-align: right;

        h2{
          font-size: 1.7vw;
          font-weight: 500;
          letter-spacing: -1px;
        }

        p{
          font-size: 0.8vw;
          font-weight: 600;
          color: #646464;
        }
      }
    }
  }
}
